URxvt*background:        black
URxvt*foreground:       white

Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

URxvt.intensityStyles:  true
URxvt.font:             xft:Hack:bold:size=8
URxvt.boldFont:         xft:Hack:bold:size=8
URxvt.saveLines:        8192

URxvt*scrollTtyOutput:    false
URxvt*scrollWithBuffer:   true
URxvt*scrollTtyKeypress:  true
URxvt.scrollBar:          false
URxvt.internalBorder:     30
URxvt.cursorBlink:        false
URxvt.cursorUnderline:    true
URxvt*skipBuiltinGlyphs:    true

URxvt.perl-ext-common:  resize-font,ibeamcursor
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-equal:     resize-font:bigger
URxvt.keysym.C-0:      	  resize-font:reset
URxvt.keysym.C-question:  resize-font:show

rofi.theme: ~/.cache/wal/colors-rofi-light.rasi

rofi.color-enabled: true
 rofi.color-window: argb:df292d37, #292d37, #17a086
 rofi.color-normal: argb:00292d37, #ffffff, argb:00292d37, argb:00292d37, #17a086
 rofi.color-active: argb:00292d37, #ffffff, argb:00292d37, argb:00292d37, #ffffff
 rofi.color-urgent: argb:00292d37, #ffffff, argb:00292d37, argb:00292d37, #ffffff

rofi.font: Hack 12
rofi.eh: 1
rofi.line-margin: 18
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.lines: 15
rofi.columns: 1
rofi.width: 1000
rofi.padding: 100
rofi.bw: 0
rofi.auto-select: false


